<%= erb :'categories/_category_header' %>
<div class="container">
  <h3 align="center">Article Created!</h1>
</div>
<div class="container">
  <ul>
    <li>Title: <%=@article.title%></li>
    <li>Email: <%=@article.email%></li>
  </ul>
</div>
<div class="container">
  <h4>Edit Article</h4>
  <p>In the future, edit your article via the following secret link:</p>
  <p>
    <a href="/categories/<%=@category.id%>/articles/<%=@article.id%>/edit/<%=@article.secret_link%>">
      http://localhost:9393/categories/<%=@category.id%>/articles/<%=@article.id%>/edit/<%=@article.secret_link%>
    </a>
  </p>
</div>


