<h1><%= @article.title %></h1>

<p>Price: $<%= @article.price %></p>

<p>Description: <%= @article.description %></p>

<p>Contact Email: <%= @article.email %></p>

<form action='/articles/<%= @article.id %>/edit' method='get'>
  <input type='submit' value='Edit this article'>
</form>

<br>

<form action='/articles/<%= @article.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete this article'>
</form>
