<%= erb :'categories/_category_header' %>
<h3 align="center"><%= @article.title%></h3>
<p align="center">Description: <%= @article.description%></p>
<p align="center">Price: <%= @article.price%></p>
<p align="center">Email: <%= @article.email%></p>
