<div class="container" align="center">
  <h1>YOUR NEXT GREAT FIND!</h1>
    <p>
    <HR>
        <strong> <%= @article.title.upcase %> </strong>
        <br><br>
        Description: <%= @article.description %>
        <br><br>
        Price: <%= @article.price %>
        <br><br>
        Contact: <%= @article.contact %>
        <br>
        <HR>
    </p>

    <form action= "/articles/<%= @article.id %>/edit" method="get">
      <input type="text" pattern="<%=@article.secret_link%>" placeholder="Enter Secret Key Here">
      <button type="submit">Proceed to Edit</button>
    </form>



    <a href="/">Take Me Home</a>
</div>
