<div class="container">
  <h1><a href="<%="/categories/#{@article.category_id}/articles/#{@article.id}"%>"><%= @article.title %></a></h1>
  <p><%= @article.body %></p>
  <ul>
    <li><%= @article.price %></li>
    <li><%= @article.contact %></li>
  </ul>
</div>
